In [3]:
France = [16127955, 15805560, 17386612, 13960064, 4142050]
Germany = [15294292, 20447052, 23900423, 17988340, 5389106]
Italy = [10859356, 13275488, 18594885, 13299743, 4330074]
Spain = [9254305, 11015526, 14787185, 9182427, 2860952]
UK = [15746113, 17509234, 17554612, 13284207, 3437008]

AgeGroups = ["0-19", "20-39", "40-59", "60-79", "80+"]
Countries = ["France", "Germany", "Italy", "Spain", "Uk"] 

import pandas as pd
pfName =pd.DataFrame({'Countries': Countries, 'AgeGroup': AgeGroups} )
pfName

      Countries
0-19     France
20-39   Germany
40-59     Italy
60-79     Spain
80+          UK

In [10]:
import pandas as pd
pfName =pd.DataFrame({'France':France,'Germany':Germany, 'Italy':Italy, 'Spain':Spain, 'UK':UK}, index = AgeGroups)
pfName

         France   Germany     Italy     Spain        UK
0-19   16127955  15294292  10859356   9254305  15746113
20-39  15805560  20447052  13275488  11015526  17509234
40-59  17386612  23900423  18594885  14787185  17554612
60-79  13960064  17988340  13299743   9182427  13284207
80+     4142050   5389106   4330074   2860952   3437008

In [13]:
# (a) Explore the metadata of the data frame
print("DataFrame columns", pfName.columns)
print("DataFrame rows",  pfName.index)
print("DataFrame shape is #rows by #columns",  pfName.shape)
print("DataFrame datatypes:\n", pfName.dtypes)
pfName.head(2)

DataFrame columns Index(['France', 'Germany', 'Italy', 'Spain', 'UK'], dtype='object')
DataFrame rows Index(['0-19', '20-39', '40-59', '60-79', '80+'], dtype='object')
DataFrame shape is #rows by #columns (5, 5)
DataFrame datatypes:
 France     int64
Germany    int64
Italy      int64
Spain      int64
UK         int64
dtype: object

         France   Germany     Italy     Spain        UK
0-19   16127955  15294292  10859356   9254305  15746113
20-39  15805560  20447052  13275488  11015526  17509234

In [ ]:
#(b) For one country at a time, visualise its age distribution using Pie Charts and Bar
#Charts

import pandas as pd
ax = dfName.plot.pie(y = )